.profilePage__main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    max-width: 1240px;
    margin: 120px auto 0;
}

.profilePage__profileInfo {
    display: flex;
    flex-direction: column;
    max-width: 480px;
}

.profilePage__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.profilePage__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error {
    text-align: center;
    color: red;
}

.profilePage__button {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #8585AD;
    text-decoration: none;
    text-align: left;
    margin-bottom: 34px;
    background: #131316;
    border: none;
    cursor: pointer;
}

.profilePage__button:hover {
    opacity: .8;
}